################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C971_MobileApp/.vs/C971_MobileApp/FileContentIndex
